<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id=":mu" class="a3s aiL ">
    <div class="adM">

    </div><u></u>









    <div>







        <div style="width:100%;height:1px;display:block" align="center">
            <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0"></div>
        </div>

        <div style="display: flex;justify-content: center;margin-left: 25%">
            <img src="https://dreamingtheme.kiendaotac.com/html/kodory/assets/images/logo.png"  alt="logo">
        </div>
        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0"
               id="m_2335989275499629553backgroundTable">
            <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0"
                                       align="center">
                                    <tbody>

                                    <tr>
                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="560" align="center" cellpadding="0"
                                                   cellspacing="0" border="0">
                                                <tbody>


                                                <tr>
                                                    <td colspan="2"
                                                        style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:10px">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"
                                                        style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:13px;font-weight:bold">
                                                        ORDER DETAIL - FOR SHOPPERS
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td height="" style="font-size:1px;line-height:1px"
                                                        width="100%">&nbsp;</td>
                                                </tr>


                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" height="1" bgcolor="#ffffff"
                                            style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>





        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0"    >
            <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0"
                                       align="center">
                                    <tbody>

                                    <tr>
                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="560" align="center" cellpadding="0"
                                                   cellspacing="0" border="0">
                                                <tbody>

                                                <tr>
                                                    <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                        width="49%">Cart code:
                                                    </td>
                                                    <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                        width="49%">

                                                        <a href="https://shopee.vn/universal-link/user/purchase/order/162574691237017/?shopid=946587074&amp;deep_and_deferred=1&amp;smtt=580.42535865.7"
                                                           style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#ff5722;vertical-align:top;width:280px"
                                                           target="_blank"
                                                           data-saferedirecturl="https://www.google.com/url?q=https://shopee.vn/universal-link/user/purchase/order/162574691237017/?shopid%3D946587074%26deep_and_deferred%3D1%26smtt%3D580.42535865.7&amp;source=gmail&amp;ust=1712369670776000&amp;usg=AOvVaw0VSE-TUVz8yo4MlMRtLW_i"><span th:text="${cart.getId()}"></span></a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                        width="49%">Date :
                                                    </td>
                                                    <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                        width="49%" >
                                                        <span th:text="${cart.getCreateDate()}"></span>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                        width="49%">Seller:
                                                    </td>
                                                    <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                        width="49%"><a
                                                            href="https://shopee.vn/universal-link/snowa96.vn?smtt=580.42535865.7"
                                                            style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#ff5722;vertical-align:top;width:280px"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://shopee.vn/universal-link/snowa96.vn?smtt%3D580.42535865.7&amp;source=gmail&amp;ust=1712369670776000&amp;usg=AOvVaw1JsSABV8UkYkHYYdiIHDAq">Kodory</a>
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td colspan="2" height="20"
                                                        style="font-size:1px;line-height:1px"
                                                        width="100%">
                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" height="1" bgcolor="#ffffff"
                                            style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>






        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0"
               >
            <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0"
                                       align="center">
                                    <tbody>

                                    <tr>
                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="560" align="center" cellpadding="0"
                                                   cellspacing="0" border="0">
                                                <tbody>


                                                <tr th:each="cartItem,index : ${listCartItem}">
                                                    <td>
                                                        <table width="560" align="center" border="0"
                                                               cellpadding="0" cellspacing="0">
                                                            <tbody>

                                                            <tr>
                                                                <td width="560" height="140"
                                                                    align="left">
                                                                    <a href="https://shopee.vn/universal-link/Xiaomi+YouPin+K%E1%BB%87+%C4%91%E1%BB%B1ng+m%C4%A9+ph%E1%BA%A9m+ki%E1%BB%83u+m%E1%BB%9Bi+si%C3%AAu+ti%E1%BB%87n+d%E1%BB%A5ng+%28+1+t%E1%BA%A7ng+nhi%E1%BB%81u+ng%C4%83n%29-i.946587074.22640821866/?smtt=580.42535865.7"
                                                                       target="_blank"
                                                                       data-saferedirecturl="https://www.google.com/url?q=https://shopee.vn/universal-link/Xiaomi%2BYouPin%2BK%25E1%25BB%2587%2B%25C4%2591%25E1%25BB%25B1ng%2Bm%25C4%25A9%2Bph%25E1%25BA%25A9m%2Bki%25E1%25BB%2583u%2Bm%25E1%25BB%259Bi%2Bsi%25C3%25AAu%2Bti%25E1%25BB%2587n%2Bd%25E1%25BB%25A5ng%2B%2528%2B1%2Bt%25E1%25BA%25A7ng%2Bnhi%25E1%25BB%2581u%2Bng%25C4%2583n%2529-i.946587074.22640821866/?smtt%3D580.42535865.7&amp;source=gmail&amp;ust=1712369670776000&amp;usg=AOvVaw3QzyjiShqhC7F-fhKJdd0D">
                                                                        <img th:src="${cartItem.getProduct().getImage()}"
                                                                             alt="" border="0"
                                                                             width="140" height="140"
                                                                             style="display:block;border:none;outline:none;text-decoration:none"
                                                                             class="CToWUd"
                                                                             data-bit="iit">
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>


                                                        <table align="left" border="0" cellpadding="0"
                                                               cellspacing="0">

                                                            <tbody>
                                                            <tr>
                                                                <td width="100%" height="10"
                                                                    style="font-size:1px;line-height:1px">
                                                                    &nbsp;</td>
                                                            </tr>

                                                            </tbody>
                                                        </table>


                                                        <table width="560" align="center"
                                                               cellpadding="0" cellspacing="0" border="0"
                                                               style="table-layout:fixed">
                                                            <tbody>
                                                            <tr>
                                                                <td colspan="2" width="" height="20"
                                                                    style="font-size:1px;line-height:1px">
                                                                    &nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"
                                                                    style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;text-align:left" th:text="${cartItem.getProduct().getName()}">

                                                                </td>
                                                            </tr>



                                                            <tr>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                                    width="49%">Category: </td>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                                    width="49%" th:text="${cartItem.getProduct().getCategory().getName()}"></td>
                                                            </tr>


                                                            <tr>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                                    width="49%">Quantity: </td>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                                    width="49%" th:text="${cartItem.getQuantity()}"></td>
                                                            </tr>

                                                            <tr>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                                    width="49%">Price: </td>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#000000;vertical-align:top"
                                                                    width="49%" th:text="${cartItem.getPrice()} + '$'"></td>
                                                            </tr>



                                                            <tr>
                                                                <td width="100%" height="10"
                                                                    style="font-size:1px;line-height:1px">
                                                                    &nbsp;</td>
                                                            </tr>

                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" height="1" bgcolor="#ffffff"
                                            style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>



        <div style="width:100%;height:1px;display:block" align="center">
            <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0"></div>
        </div>






        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0"
               >
            <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0"
                                       align="center">
                                    <tbody>

                                    <tr>
                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="560" align="center" cellpadding="0"
                                                   cellspacing="0" border="0">
                                                <tbody>

                                                <tr>
                                                    <td>
                                                        <table width="560" align="center"
                                                               cellpadding="0" cellspacing="0" border="0"
                                                               style="table-layout:fixed">
                                                            <tbody>
                                                            <tr>
                                                                <td colspan="2"
                                                                    style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:10px">
                                                                </td>
                                                            </tr>




                                                            <tr>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:20px;color:#000000;vertical-align:top"
                                                                    width="49%" >Total Amount:
                                                                </td>
                                                                <td style="word-break:break-word;text-align:left;font-family:Helvetica,arial,sans-serif;font-size:20px;color:red;vertical-align:top"
                                                                    width="49%" th:text="${cart.getTotalPrice() + '$'}">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"
                                                                    style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:10px">
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="2"
                                                                    style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:10px">
                                                                </td>
                                                            </tr>



                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" height="1" bgcolor="#ffffff"
                                            style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>



        <div style="width:100%;height:1px;display:block" align="center">
            <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0"></div>
        </div>


        <div style="width:100%;height:5px;display:block" align="center">
            <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0">
            </div>
        </div>


        <div style="width:100%;height:15px;display:block" align="center">
            <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0">
                &nbsp;
            </div>
        </div>



        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0"
               >
            <tbody>
            <tr>
                <td>
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0"
                                       align="center">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <table width="560" align="center" cellpadding="0"
                                                   cellspacing="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td
                                                            style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%">
                                                        <a href="https://shopee.vn/docs/3603"
                                                           style="text-decoration:none;color:#ff5722"
                                                           target="_blank"
                                                           data-saferedirecturl="https://www.google.com/url?q=https://shopee.vn/docs/3603&amp;source=gmail&amp;ust=1712369670777000&amp;usg=AOvVaw1C2N93g_3oiVqmQMR7O_5f"></a> Privacy Policy| <a
                                                            href="https://shopee.vn/legaldoc/policies/"
                                                            style="text-decoration:none;color:#ff5722"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://shopee.vn/legaldoc/policies/&amp;source=gmail&amp;ust=1712369670777000&amp;usg=AOvVaw1CnbTR1owOElzbgVQb9KqU">Kodory Terms</a>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td width="100%" height="10"
                                                        style="font-size:1px;line-height:1px">&nbsp;
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td
                                                            style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%">
                                                        This is an automated email. Please do not reply to this email. Add <a href="http://localhost:8080">kodory@gmail.com</a> to your email contacts to ensure you always receive emails from us.</td>
                                                </tr>


                                                <tr>
                                                    <td width="100%" height="10"
                                                        style="font-size:1px;line-height:1px">&nbsp;
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td
                                                            style="font-family:Helvetica,arial,sans-serif;font-size:11px;color:#747474;text-align:center;line-height:100%">
                                                        7th Floor Saigon Center 2, 285 Le Loi Street, Hai Chau, Da Nang 700000, Vietnam</td>
                                                </tr>


                                                <tr>
                                                    <td width="100%" height="40"
                                                        style="font-size:1px;line-height:1px">&nbsp;
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>


        <div style="white-space:nowrap!important;line-height:0;color:#ffffff">
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        </div>
        <img width="1px" height="1px" alt=""
             src="https://ci3.googleusercontent.com/meips/ADKq_NYcmGWmIb76K2PzpQVh-kc-pP888D-zS9f8y_RudU291gM22z0kuL81OU6JfZMuc8gXjK6ArKrVqInNufUED2nW0LezgcLlSHUIWF3yb6dgDsd1fqQ7DNe2TMh5jtIkIaxSOnQhvqEVlu8viA0MYoaL3Of8D5RS_ysOTqI755L0GHz34UJhADiqT08JspryP7Ac6WLtVSmRWxna5ikYyro6YqlrG4PovZ3olyyiwvjicNp3dI3_90mJ3LcBgtyF2Dk7vGST13ApogaSi5eE7wAKMre6s1kJYrC3pyiQ1LEAWnowyDx-YSNoqZ60eeCbYVmwSwhFwwL-b4NGYmYclsnTMcSio1dxkvLpYLP6QXyS2ZZxSBHNwtM21A=s0-d-e1-ft#https://email.mail.shopee.vn/o/eJxkzcFuwyAMgOGnKTciY4wdDjwMDS5hSkgVoq57-0m77NDz_0tfSRjuiwY1mpxAZMeAYtYEDxTyISDhjPGuMxVgEAmaxUWdTfv_OVB00RPjhDLNLgITCkbvxSM6cTeCPbdtGuvxVJ1e3ZzpOo9e19zG87oR1L--HLt5231UW_Ol3_nHtpKW_pU7byxcFmGt-1nAbu2l5m2H9qJnav1xfBi_AQAA__9YnEE5"
             class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0." nd4yuwqzx="">
    </div>
    <div class="yj6qo"></div>
    <div class="adL">


    </div>
</div>
</body>
</html>